input, textarea, .ant-input-affix-wrapper, .ant-input-number, .ant-picker{
    border-radius: 6px !important;
    overflow: hidden !important;
}

.ant-btn{
    line-height: 0;
    box-shadow: none;
    text-shadow: none;
    border-radius: 5px !important;
}

.logo{
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
}

.content{
    min-height: calc(100vh - 64px);
    padding: 50px;
}

.main{
    min-height: calc(100vh - 164px);
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
}

.ant-radio-group .ant-radio-button-wrapper:first-child{
    border-radius: 6px 0 0 6px;
}

.ant-radio-group .ant-radio-button-wrapper:last-child{
    border-radius: 0 6px 6px 0;
}
